<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    package="com.panasenko.codepath.todoapp"
    a:versionCode="1"
    a:versionName="1.0" >

    <uses-sdk
        a:minSdkVersion="10"
        a:targetSdkVersion="17" />

    <application
        a:allowBackup="true"
        a:icon="@drawable/ic_launcher"
        a:label="@string/app_name"
        a:theme="@style/AppTheme" >
        <activity
            a:name="com.panasenko.codepath.todoapp.TodoActivity"
            a:label="@string/app_name" >
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity a:name=".EditItemActivity" />
    </application>

</manifest>
